{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "GR",
      "L": "Athens",
      "O": "Kubernetes",
      "OU": "AT",
      "ST": "Attica"
    }
  ]
}
