{
  "CN": "system:node:{{ item }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "GR",
      "L": "Athens",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Attica"
    }
  ]
}
